@-webkit-keyframes buttonFromLeftToRight {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    25% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    75% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@keyframes buttonFromLeftToRight {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    25% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    75% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@-webkit-keyframes buttonFromRightToLeft {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    25% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    75% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@keyframes buttonFromRightToLeft {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    25% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    75% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@-webkit-keyframes buttonFromTopToBottom {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    25% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    75% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@keyframes buttonFromTopToBottom {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    25% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    75% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
