@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin btn {
    &,
    &:focus {
        margin-top: 3rem;
        font-weight: bold;
        font-size: 1.6rem;
        color: white;
        border: none;
        background: #60b562;
        border-radius: 1rem;
        padding: 1.5rem 5rem;
        cursor: pointer;
        outline: none;
    }
}

@mixin respond($breakpoint) {
    @if $breakpoint == small-phone {
        @media only screen and (max-width: 500px) {
            @content;
        } //600px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 600px) {
            @content;
        } //600px
    }
    @if $breakpoint == small-tab-port {
        @media only screen and (max-width: 800px) {
            @content;
        }
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 900px) {
            @content;
        }
    }
    @if $breakpoint == small-tab-land {
        @media only screen and (max-width: 1040px) {
            @content;
        }
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 1200px) {
            @content;
        }
    }
    @if $breakpoint == large-tab-land {
        @media only screen and (max-width: 1460px) {
            @content;
        }
    }
}
