// FONTS
$default-font-size: 1.6rem;
$font-lato: 'Lato', sans-serif;
$font-avenir-next: 'Prompt', sans-serif;
$font-audiowide: 'Audiowide', cursive;
$font-ibm: 'IBM Plex Sans', sans-serif;

$font-main-light: 'GT-Eesti-Pro-Text-Light';
$font-main-bold: 'GT-Eesti-Pro-Text-Bold';
$font-main-ubold: 'GT-Eesti-Pro-Text-UltraBold';
$font-main-regular: 'GT-Eesti-Pro-Text-Regular';

$default-font: 'Poppins', sans-serif;
// GRID
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$padding-horizontal-tab-port: 5rem;
$padding-horizontal-phone: 2rem;
// COLORS
$color-1: #234d6b;
$color-2: #f7e36b;
$color-3: #f5833c;

$main-background: #f8fbf0;
// NAVIGATION
$nav-height: 7rem;
