.form {
    background-color: white;
    background-image: url(/images/contact-form-background.png);
    background-repeat: no-repeat;
    background-position: 100%;
    box-shadow: 0px 8px 16px rgba(11, 66, 26, 0.1);
    border-radius: 2rem;
    padding: 4rem 6rem;
    background-size: contain;
    @include respond(tab-port) {
        background-image: none;
    }
    &__details {
        width: 50%;
        @include respond(tab-port) {
            width: 100%;
        }
    }
    &__heading {
        margin-bottom: 2rem;
    }
    &__input-field {
        margin-top: 2rem;
        &__title {
            font-size: 1.4rem;
        }
        input,
        input:focus {
            border: none;
            border-radius: 0.8rem;
            background: #f3faff;
            font-size: 1.6rem;
            padding: 0.6em 0.8em;
            width: 100%;
            outline: none;
        }
        &--phone-number {
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            /* Firefox */
            input[type='number'] {
                -moz-appearance: textfield;
            }
            display: inline-block;
            width: 55%;
        }
        &--quantity {
            width: 35%;
            float: right;
        }
    }
    button,
    button:focus {
        margin-top: 3rem;
        font-weight: bold;
        font-size: 1.6rem;
        color: white;
        border: none;
        background: #60b562;
        border-radius: 1rem;
        padding: 1.5rem 5rem;
        cursor: pointer;
        outline: none;
    }
}
