.header {
    display: flex;
    background-color: $main-background;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #ccc;
    padding: 0 40px;
    position: sticky;
    top: 0;
    z-index: 10;
    &__left-nav {
        flex: 1;
        display: flex;
        font-family: $font-main-ubold;
        align-items: center;
        &-item {
            letter-spacing: 0.1em;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 12px;
            transition: color ease-in 0.2s;
            &:hover {
                color: $color-3;
            }
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
    &__main-logo {
        width: 150px;
        cursor: pointer;
    }
    &__right-nav {
        flex: 1;
        display: flex;
        align-items: center;
        &-item:not(:last-child) {
            cursor: pointer;
            margin-right: 12px;
        }
        li:first-child {
            margin-left: auto;
        }
        &__icon {
            width: 30px;
        }
    }
    &__preorder-btn {
        padding: 4px 20px;
    }
    &__currency-dropdown {
        position: relative;
        cursor: pointer;
        &__select {
            padding-right: 15px;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            border: none;
            font-size: 12px;
            font-family: $font-main-ubold;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            background-color: transparent;
        }

        &__arrow {
            z-index: -1;
            width: 10px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
